{% extends "::base.html.twig" %}

{% block content %}


    <form action="{{ path('sign_up') }}" method="POST" novalidate>
        <legend>Sign Up</legend>
        <fieldset>
            {{ form_widget(form) }}
            <input type="submit" value="Sign Up" />
        </fieldset>
    </form>

{% endblock %}